<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>File Renamer</title>
  <meta name="description" content="Ferramenta online e gratuita para renomear seus arquivos com facilidade e rapidez.">
  <link rel="canonical" href="https://file-renamer-ytp8.onrender.com/">

  <meta property="og:type" content="website">
  <meta property="og:locale" content="pt-br">
  <meta property="og:url" content="https://file-renamer-ytp8.onrender.com/">
  <meta property="og:title" content="File Renamer">
  <meta property="og:description" content="Ferramenta online e gratuita para renomear seus arquivos com facilidade e rapidez.">

  <link rel="stylesheet" href="../static/css/main.css">
  <link rel="stylesheet" href="../static/css/home.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-TXM1RKZ8X6"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-TXM1RKZ8X6');
  </script>
</head>
<body>
  <div class="container">
    <h1>Renomeie seu arquivo</h1>
    <p>Cole o nome atual do seu arquivo no campo abaixo e clique em “RENOMEAR” para ter seu novo nome no padrão “example-file-name”.</p>

    <form action="/new-name" method="post">
      <input type="text" name="file-name" placeholder="Cole aqui o nome atual do arquivo..." required>
      <button type="submit">RENOMEAR</button>
    </form>

    <div class="informations">
      <div class="buttons">
        <button class="button-github"><a href="https://github.com/jhonedourado" target="_blank"><img src="../static/img/github.svg" alt="GitHub do desenvolvedor" title="GitHub do desenvolvedor"></a></button>
        <button class="button-message"><img src="../static/img/notification.svg" alt="Uma mensagem para você" title="Uma mensagem para você"></button>
      </div>

      <div class="message">
        <div class="message-box">
          <img src="../static/img/balloon.svg" alt="Jesus te ama!" title="Jesus te ama!">
          <p>Jesus te ama!</p>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(".button-message").on("click", function() {
      $(".message").fadeToggle("slow");
    });
  </script>
</body>
</html>
